img {
  box-shadow: 7px 5px 1px rgba(0, 0, 0, 0.3);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

html {
  text-align: center;
}

body {
  /* background-color: #F5F5F5 !important; */
  background-image: url(clean-textile.png);
  background-repeat: repeat;
  letter-spacing: 0.1em !important;
  font-family: "Noto Serif SC", serif !important;
}

button {
  letter-spacing: 0.1em !important;
}

h1 {
  letter-spacing: 0.15em;
}

.content {
  width: 90% !important;
  max-width: 480px !important;
  margin: 0 auto !important;
}

.messenger {
  line-height: 0.8em !important;
}

.footer {
  position: fixed;
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #e3e3e3 10px,
    #e3e3e3 20px
  );
  width: 100%;
  bottom: 0;

  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
